# URL
# The base url is 'https://api.hh.ru/'
HEADHUNTER_API_URL=your_url_here

# Headers
# You need to write the name of your app and your email address
HEADHUNTER_HEADER="MyApp/1.0 (my-app-feedback@example.com)"
